PORT=5000
NODE_ENV=development

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=

EMAIL_USER=
EMAIL_PASS=
EMAIL_TEAM_TO=

VITE_API_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173
